#main {
    display: flex;
    gap: 5px;
    margin: 20px;
    /* width: 100%; */
    /* background-image: url(https://images.pexels.com/photos/3309824/pexels-photo-3309824.jpeg);
    background-size: 100%;
    opacity: 0.2;
    background-repeat: no-repeat; */
}
