.card-user{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #efecec;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    margin: 15px;

}

.card-user img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.card-user div h3 {
    margin: 0;

}